body {
background: linear-gradient(to bottom, rgb(255, 219, 225), rgb(253, 196, 206), rgb(254, 186, 197));
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.ex h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    color: rgba(255, 255, 255, 0.716);
}