body {
background: linear-gradient(to bottom, rgb(255, 219, 225), rgb(253, 196, 206), rgb(254, 186, 197));
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.ex h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    color: rgba(255, 255, 255, 0.716);
    border: 1px solid rgba(255, 255, 255, 0.151);
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 100px 60%;
    box-shadow: 0 0 15px white;
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.801);
}
.ex {text-align: center;
}